<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <div class="wrapper-container">
        <div class="cust-col-md4">
            <h3 class="title-header">按钮主题</h3>
            <button type="button" class="btn-primary">原始按钮</button>
            <button type="button" class="btn-default">默认按钮</button>
            <button type="button" class="btn-blue">蓝色按钮</button>
            <button type="button" class="btn-warm">暖色按钮</button>
            <button type="button" class="btn-danger">警告按钮</button>
            <button type="button" class="btn-disabled">禁用按钮</button>

            <h3 class="title-header">尺寸按钮</h3>
            <div class="btn-group">
                <button type="button" class="btn-lg-primary">原始大按钮</button>
                <button type="button" class="btn-primary">原始按钮</button>
                <button type="button" class="btn-sm-primary">原始中按钮</button>
                <button type="button" class="btn-xs-primary">原始小按钮</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-lg-default">默认大按钮</button>
                <button type="button" class="btn-default">默认按钮</button>
                <button type="button" class="btn-sm-default">默认中按钮</button>
                <button type="button" class="btn-xs-default">默认小按钮</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-lg-blue">蓝色大按钮</button>
                <button type="button" class="btn-blue">蓝色按钮</button>
                <button type="button" class="btn-sm-blue">蓝色中按钮</button>
                <button type="button" class="btn-xs-blue">蓝色小按钮</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-lg-warm">暖色大按钮</button>
                <button type="button" class="btn-warm">暖色按钮</button>
                <button type="button" class="btn-sm-warm">暖色中按钮</button>
                <button type="button" class="btn-xs-warm">暖色小按钮</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-lg-danger">警告大按钮</button>
                <button type="button" class="btn-danger">警告按钮</button>
                <button type="button" class="btn-sm-danger">警告中按钮</button>
                <button type="button" class="btn-xs-danger">警告小按钮</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-lg-disabled">禁用大按钮</button>
                <button type="button" class="btn-disabled">禁用按钮</button>
                <button type="button" class="btn-sm-disabled">禁用中按钮</button>
                <button type="button" class="btn-xs-disabled">禁用小按钮</button>
            </div>

            <h3 class="title-header">按钮混搭</h3>
            <div class="btn-group">
                <button type="button" class="btn-mash-primary"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-default"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-blue"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-warm"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-danger"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-disabled"><i class="fa fa-trash-o"></i>删除</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-mash-primary"><i class="fa fa-pencil"></i>编辑</button>
                <button type="button" class="btn-mash-default"><i class="fa fa-pencil"></i>编辑</button>
                <button type="button" class="btn-mash-blue"><i class="fa fa-pencil"></i>编辑</button>
                <button type="button" class="btn-mash-warm"><i class="fa fa-pencil"></i>编辑</button>
                <button type="button" class="btn-mash-danger"><i class="fa fa-pencil"></i>编辑</button>
                <button type="button" class="btn-mash-disabled"><i class="fa fa-pencil"></i>编辑</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-mash-primary"><i class="fa fa-cog"></i>设置</button>
                <button type="button" class="btn-mash-default"><i class="fa fa-cog"></i>设置</button>
                <button type="button" class="btn-mash-blue"><i class="fa fa-cog"></i>设置</button>
                <button type="button" class="btn-mash-warm"><i class="fa fa-cog"></i>设置</button>
                <button type="button" class="btn-mash-danger"><i class="fa fa-cog"></i>设置</button>
                <button type="button" class="btn-mash-disabled"><i class="fa fa-cog"></i>设置</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-mash-primary"><i class="fa fa-plus"></i>添加</button>
                <button type="button" class="btn-mash-default"><i class="fa fa-plus"></i>添加</button>
                <button type="button" class="btn-mash-blue"><i class="fa fa-plus"></i>添加</button>
                <button type="button" class="btn-mash-warm"><i class="fa fa-plus"></i>添加</button>
                <button type="button" class="btn-mash-danger"><i class="fa fa-plus"></i>添加</button>
                <button type="button" class="btn-mash-disabled"><i class="fa fa-plus"></i>添加</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-mash-primary"><i class="fa fa-upload"></i>上传</button>
                <button type="button" class="btn-mash-default"><i class="fa fa-upload"></i>上传</button>
                <button type="button" class="btn-mash-blue"><i class="fa fa-upload"></i>上传</button>
                <button type="button" class="btn-mash-warm"><i class="fa fa-upload"></i>上传</button>
                <button type="button" class="btn-mash-danger"><i class="fa fa-upload"></i>上传</button>
                <button type="button" class="btn-mash-disabled"><i class="fa fa-upload"></i>上传</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-mash-primary"><i class="fa fa-download"></i>下载</button>
                <button type="button" class="btn-mash-default"><i class="fa fa-download"></i>下载</button>
                <button type="button" class="btn-mash-blue"><i class="fa fa-download"></i>下载</button>
                <button type="button" class="btn-mash-warm"><i class="fa fa-download"></i>下载</button>
                <button type="button" class="btn-mash-danger"><i class="fa fa-download"></i>下载</button>
                <button type="button" class="btn-mash-disabled"><i class="fa fa-download"></i>下载</button>
            </div>
        </div>
        <div class="cust-col-md5 cust-push-right">
            <h3 class="title-header">按钮混搭尺寸</h3>
            <div class="btn-group">
                <button type="button" class="btn-lgmash-primary"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-primary"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-smmash-primary"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-xsmash-primary"><i class="fa fa-trash-o"></i>删除</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-lgmash-default"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-default"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-smmash-default"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-xsmash-default"><i class="fa fa-trash-o"></i>删除</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-lgmash-blue"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-blue"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-smmash-blue"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-xsmash-blue"><i class="fa fa-trash-o"></i>删除</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-lgmash-warm"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-warm"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-smmash-warm"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-xsmash-warm"><i class="fa fa-trash-o"></i>删除</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-lgmash-danger"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-danger"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-smmash-danger"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-xsmash-danger"><i class="fa fa-trash-o"></i>删除</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn-lgmash-disabled"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-mash-disabled"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-smmash-disabled"><i class="fa fa-trash-o"></i>删除</button>
                <button type="button" class="btn-xsmash-disabled"><i class="fa fa-trash-o"></i>删除</button>
            </div>
        </div>
    </div>
</body>
</html>