<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <fieldset class="layelem-field">
        <legend>数据表格</legend>
    </fieldset>
    <div class="lay-tableView">
        <div class="lay-table">
            <div class="table-header">
                <table cellspacing="0" cellpadding="0" border="0">
                    <thead>
                        <tr>
                            <th data-filed="0">
                                <div class="table-cell table-cell-0">
                                    <div class="lay-checkbox">
                                        <i class="fa fa-square-o"></i>
                                    </div>
                                </div>
                            </th>
                            <th data-filed="id">
                                <div class="table-cell table-cell-1">
                                    <span>ID</span>
                                </div>
                            </th>
                            <th data-filed="username">
                                <div class="table-cell table-cell-2">
                                    <span>用户名</span>
                                </div>
                            </th>
                            <th data-filed="email">
                                <div class="table-cell table-cell-4">
                                    <span>邮箱</span>
                                </div>
                            </th>
                            <th data-filed="sex">
                                <div class="table-cell table-cell-1">
                                    <span>性别</span>
                                </div>
                            </th>
                            <th data-filed="city">
                                <div class="table-cell table-cell-2">
                                    <span>城市</span>
                                </div>
                            </th>
                            <th data-filed="sign">
                                <div class="table-cell table-cell-12">
                                    <span>签名</span>
                                </div>
                            </th>
                            <th data-filed="ip">
                                <div class="table-cell table-cell-2">
                                    <span>IP</span>
                                </div>
                            </th>
                            <th data-filed="joinTime">
                                <div class="table-cell table-cell-2">
                                    <span>加入时间</span>
                                </div>
                            </th>
                            <th data-filed="operating">
                                <div class="table-cell table-cell-3">
                                    <span>操作</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table-body">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td data-filed="0">
                                <div class="table-cell table-cell-0">
                                    <div class="lay-checkbox">
                                        <i class="fa fa-square-o"></i>
                                    </div>
                                </div>
                            </td>
                            <td data-filed="id">
                                <div class="table-cell table-cell-1">10001</div>
                            </td>
                            <td data-filed="username" data-edit="text">
                                <div class="table-cell table-cell-2">杜鹃</div>
                            </td>
                            <td data-filed="email" data-edit="text">
                                <div class="table-cell table-cell-4">xianxin@layui.com</div>
                            </td>
                            <td data-filed="sex" data-edit="text">
                                <div class="table-cell table-cell-1">男</div>
                            </td>
                            <td data-filed="city">
                                <div class="table-cell table-cell-2">湖北武汉</div>
                            </td>
                            <td data-filed="sign">
                                <div class="table-cell table-cell-12">君不见，黄河之水天上来，奔流到海不复回。 君不见，高堂明镜悲白发，朝如青丝暮成雪。 人生得意须尽欢，莫使金樽空对月。 天生我材必有用，千金散尽还复来。 烹羊宰牛且为乐，会须一饮三百杯。 岑夫子，丹丘生，将进酒，杯莫停。 与君歌一曲，请君为我倾耳听。(倾耳听 一作：侧耳听) 钟鼓馔玉不足贵，但愿长醉不复醒。(不足贵 一作：何足贵；不复醒 一作：不愿醒/不用醒) 古来圣贤皆寂寞，惟有饮者留其名。(古来 一作：自古；惟 通：唯) 陈王昔时宴平乐，斗酒十千恣欢谑。 主人何为言少钱，径须沽取对君酌。 五花马，千金裘，呼儿将出换美酒，与尔同销万古愁。</div>
                            </td>
                            <td data-filed="ip">
                                <div class="table-cell table-cell-2">192.168.0.8</div>
                            </td>
                            <td data-filed="joinTime">
                                <div class="table-cell table-cell-2">2016-10-14</div>
                            </td>
                            <td data-filed="operating">
                                <div class="table-cell table-cell-3">
                                    <a class="laybtn edit">编辑</a>
                                    <a class="laybtn delect">删除</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-page">
            <div class="layPage">
                <a id="lay-prevPage" class="fa fa-angle-left" href="javascript:void(0);"></a>
                <div class="numPge">
                    <a class="curPage" href="javascript:void(0);">1</a>
                    <a href="javascript:void(0);">2</a>
                    <a href="javascript:void(0);">3</a>
                    <a class="laypage-spr" href="javascript:void(0);">...</a>
                    <a class="laypage-last" href="javascript:void(0);">10</a>
                </div>
                <a id="lay-nextPage" class="fa fa-angle-right" href="javascript:void(0);"></a>
            </div>
            <span class="laypage-skip">
                到第<input class="pageNumber" type="text" min="1" value="1">页
                <button type="button" class="laypage-btn">确定</button>
            </span>
            <span class="laypage-count">共10页</span>
            <span class="laypage-limits">
                <select>
                    <option value="10" selected>10条/页</option>
                    <option value="20">20条/页</option>
                    <option value="30">30条/页</option>
                    <option value="40">40条/页</option>
                    <option value="50">50条/页</option>
                    <option value="60">60条/页</option>
                </select>
            </span>
        </div>
    </div>
</body>
</html>