<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <div class="wrapper-container">
        <h3 class="title-header">水平导航条</h3>
        <ul class="horizontal-navbar">
            <li><a href="javascript:;">导航一<i class="fa fa-caret-down"></i></a>
                <dl class="navbar-child">
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                </dl>
            </li>
            <li class="active"><a href="javascript:;">导航二</a></li>
            <li><a href="javascript:;">导航三</a></li>
            <li><a href="javascript:;">导航四<i class="fa fa-caret-down"></i></a>
                <dl class="navbar-child">
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                </dl>
            </li>
            <li><a href="javascript:;">导航五</a></li>
        </ul>

        <h3 class="title-header">垂直导航条</h3>
        <ul class="vertical-navbar">
            <li><a href="javascript:;">菜单一<i class="fa fa-caret-down"></i></a>
                <dl class="navbar-verchild">
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                </dl>
            </li>
            <li><a href="javascript:;">菜单一<i class="fa fa-caret-down"></i></a>
                <dl class="navbar-verchild">
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                </dl>
            </li>
            <li><a href="javascript:;">菜单一<i class="fa fa-caret-down"></i></a>
                <dl class="navbar-verchild">
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                </dl>
            </li>
        </ul>

        <h3 class="title-header">垂直手风琴导航条</h3>
        <ul class="vertical-navbar" navbar-filter="accordion">
            <li><a href="javascript:;">菜单一<i class="fa fa-caret-down"></i></a>
                <dl class="navbar-verchild">
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                </dl>
            </li>
            <li><a href="javascript:;">菜单一<i class="fa fa-caret-down"></i></a>
                <dl class="navbar-verchild">
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                </dl>
            </li>
            <li><a href="javascript:;">菜单一<i class="fa fa-caret-down"></i></a>
                <dl class="navbar-verchild">
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                    <dd><a href="javascript:;">子菜单一</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="module/js/nav.js"></script>
</body>
</html>