<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

    <div class="wrap-container">

        <h3 class="title-header">默认进度条</h3>
        <div class="process-card">
            <div class="process">
                <div class="process-bar">
                    <span class="process-text">50%</span>
                </div>
            </div>
        </div>

        <h3 class="title-header">更多颜色进度条</h3>
        <div class="process-card">
            <div class="process">
                <div class="process-redbar">
                    <span class="process-text">50%</span>
                </div>
            </div>
            <div class="process">
                <div class="process-orangebar">
                    <span class="process-text">50%</span>
                </div>
            </div>
            <div class="process">
                <div class="process-greenbar">
                    <span class="process-text">50%</span>
                </div>
            </div>
            <div class="process">
                <div class="process-bluebar">
                    <span class="process-text">50%</span>
                </div>
            </div>
            <div class="process">
                <div class="process-cyanbar">
                    <span class="process-text">50%</span>
                </div>
            </div>
        </div>
        <h3 class="title-header">更多大尺寸进度条</h3>
        <div class="process-card">
            <div class="bigprogress">
                <div class="bigprogress-bar">
                    <span class="process-text">50%</span>
                </div>
            </div>
            <div class="bigprogress">
                <div class="bigprogress-redbar">
                    <span class="process-text">50%</span>
                </div>
            </div>
            <div class="bigprogress">
                <div class="bigprogress-orangebar">
                    <span class="process-text">50%</span>
                </div>
            </div>
            <div class="bigprogress">
                <div class="bigprogress-greenbar">
                    <span class="process-text">50%</span>
                </div>
            </div>
            <div class="bigprogress">
                <div class="bigprogress-bluebar">
                    <span class="process-text">50%</span>
                </div>
            </div>
            <div class="bigprogress">
                <div class="bigprogress-cyanbar">
                    <span class="process-text">50%</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>