<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <div class="fluid-tab">
        <h3 class="title-header">默认风格</h3>
        <div class="tab">
            <ul class="tab-title">
                <li>选项一</li>
                <li>选项二</li>
                <li>选项三</li>
                <li>选项四</li>
            </ul>
            <div class="tab-content">
                <div class="tab-item">选项一的内容</div>
                <div class="tab-item">选项二的内容</div>
                <div class="tab-item">选项三的内容</div>
                <div class="tab-item">选项四的内容</div>
            </div>
        </div>

        <h3 class="tab-header">简洁风格</h3>
        <div class="tab" tab-filter="concise">
            <ul class="tab-title">
                <li>选项一</li>
                <li>选项二</li>
                <li>选项三</li>
                <li>选项四</li>
            </ul>
            <div class="tab-content">
                <div class="tab-item">选项一的内容</div>
                <div class="tab-item">选项二的内容</div>
                <div class="tab-item">选项三的内容</div>
                <div class="tab-item">选项四的内容</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="module/js/tab.js"></script>
</body>
</html>