* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.table-content{
	padding: 5px;
	height: 100%;
	
}
.table{
	width: 100%;
	border: 1px solid #ccc;
	border-collapse:collapse;
}
.table tr th,.table tr td{
	text-align:center;
	padding: 10px 0;
}
.table tr th{
	background-color: #eee;
}
.table tr td{
	background-color:#fff;
}
.fl {
  float: left;
}
.box {
  height: 40px;
  line-height: 40px;    
  text-align: center;
  margin: 0 auto;
}
.box button {
  display:inline-block;
  padding: 0 10px;
  margin: 0 10px;
  height: 40px;  
  cursor: pointer;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
.box .first-page,
.box .last-page {
  margin: 0;
}
.box .pageWrap {
  height: 40px;
 display:inline-block;
  overflow: hidden;
  vertical-align: -14px;
}
.box .pageWrap ul {
  width: 10000px;
  height: 40px;
  display:inline-block;
  vertical-align: -14px;
}
.box .pageWrap ul li {
  width: 60px;
  height: 40px;
  border: 1px solid #ebebeb;
  line-height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  float:left;
}
.box .pageWrap ul .sel-page {
  background-color: yellow;
}
.box .jump-text {
  width: 60px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 5px;
   display:inline-block;
}
.box .jump-button {
  margin: 20px;
  display:inline-block;
}
.box .total-pages,
.box .total-count {
  margin-left: 10px;
  display:inline-block;
  font-size: 14px;
}
